amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
celery-with-redis==3.0
certifi==2019.11.28
chardet==3.0.4
Django==2.2
django-celery==3.3.1
django-crontab==0.7.1
idna==2.8
kombu==3.0.37
PyMySQL==0.9.3
pytz==2019.3
redis==2.10.6
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.7
