{% extends 'base.html' %}
{% load staticfiles %}
{% block top_title %}{{title1}}{% endblock %}
{% block link %}
<!-- DataTables -->
<!-- DataTables -->
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
{%endblock%}
{% block content%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title2}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{title3}}</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>组件名</th>
                <th>所属环境</th>
                <th>主机</th>
                <th>启动端口</th>
                <th>接口地址</th>
                <th>告警模板</th>
                <th>是否监控</th>
                <th>创建时间</th>
              </tr>
              </thead>
              <tbody>
              {% for m_asset in monitor_itmes_obj %}
              <tr>
                <td>{{m_asset.component}}</td>
                <td>{{m_asset.get_env_display}}</td>
                <td>{%for host in m_asset.assets.all %}<li>{{host}}</li>{%endfor%}</td>
                <td>{{m_asset.http_port}}</td>
                <td>{{m_asset.monitor_interface}}</td>
                <td>{{m_asset.m_template.name}}</td>
                <td>{% if m_asset.is_monitor %}<button class="btn btn-xs btn-success">监控中</button>{% else %}<button class="btn btn-xs btn-warning">未监控</button>{% endif%}</td>
                <td>{{m_asset.c_time}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
{%endblock%}
{% block script %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock%}